{% extends "base.html" %}

{% block content %}

<h2>Admin Dashboard</h2>

<div class="card bg-black text-white p-4 mt-3">

    <h4>Parking Slots</h4>

    <form action="/add_slot" method="POST" class="d-flex mb-3">
        <input type="text" name="slot" class="form-control me-2" placeholder="Enter Slot Number" required>
        <button class="btn btn-success">Add</button>
    </form>

    <table class="table table-dark table-bordered">
        <tr>
            <th>ID</th>
            <th>Slot</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>

        {% for slot in slots %}
        <tr>
            <td>{{ slot[0] }}</td>
            <td>{{ slot[1] }}</td>
            <td>{{ slot[2] }}</td>

            <td>
                <form action="/update_slot/{{ slot[0] }}" method="POST">
                    <button class="btn btn-warning btn-sm">Change</button>
                </form>
            </td>

            <td>
                <form action="/delete_slot/{{ slot[0] }}" method="POST">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
