{% extends "base.html" %}

{% block content %}

<div class="card bg-black text-white p-4">
    <h2>Book Parking Slot</h2>

    <form action="/book" method="POST">

        <label class="mt-3">Vehicle Number</label>
        <input type="text" name="vehicle_number" class="form-control" required>

        <label class="mt-3">Select Slot</label>
        <select name="slot_id" class="form-control" required>
            {% for slot in slots %}
                {% if slot[2] == "Available" %}
                    <option value="{{ slot[0] }}">{{ slot[1] }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <button class="btn btn-primary mt-4">Book Slot</button>
    </form>
</div>

{% endblock %}
